body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1144px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:663px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:663px;
}
#u927 {
  position:absolute;
  left:2px;
  top:324px;
  width:1140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:62px;
}
#u928 {
  position:absolute;
  left:95px;
  top:0px;
  width:567px;
  height:62px;
}
#u929 {
  position:absolute;
  left:2px;
  top:23px;
  width:563px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u930 {
  position:absolute;
  left:973px;
  top:23px;
  width:57px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u931 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u932 {
  position:absolute;
  left:785px;
  top:23px;
  width:167px;
  height:23px;
}
#u932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u933 {
  position:absolute;
  left:115px;
  top:62px;
  width:900px;
  height:30px;
}
#u933_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:906px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:35px;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u936 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u937 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u938 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u939 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u940 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u941 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u942 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u943 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u944 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u945 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u946 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u947 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u948 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u949 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u950 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u951 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u952 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u953 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:210px;
  visibility:hidden;
}
#u953_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:216px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:215px;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u956 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u957 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u958 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u959 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u960 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u961 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u962 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u963 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u964 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u965 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
}
#u966 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u967 {
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:30px;
}
#u968 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u969 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:180px;
  visibility:hidden;
}
#u969_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:186px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:185px;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u972 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u973 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u974 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u975 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u976 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u977 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u978 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u979 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u980 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u981 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
}
#u982 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u983 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:150px;
  visibility:hidden;
}
#u983_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:156px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:155px;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u986 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u987 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u989 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u990 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u991 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u992 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u993 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u994 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u995 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:90px;
  visibility:hidden;
}
#u995_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u998 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u999 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:90px;
  visibility:hidden;
}
#u1003_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1009 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:180px;
  visibility:hidden;
}
#u1011_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:186px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:185px;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1015 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025 {
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:150px;
  visibility:hidden;
}
#u1025_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:156px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:155px;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1031 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1033 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1037 {
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:210px;
  visibility:hidden;
}
#u1037_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:216px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:215px;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1049 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:30px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
