body {
    font-family: 'Microsoft YaHei';
}

.wrap {
    margin: auto;
    width: 1000px;
    height: 600px;
}

a {
    cursor: pointer;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.right-nav {
    width: 150px;
    height: 545px;
    background-color: #336699; /*#138CDD;*/
    position: absolute;
    top: 120px;
    left: 115px;
}

.accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    background: #336699;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 10px 0px 10px 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Microsoft YaHei';
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    width: 10px;
    height: 10px;
    background: url('../../images/行情中心/u172.png');
    background-size: auto;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li.open i.down { /*下拉箭头*/
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.subMenu {
    display: none;
    background: #444359;
    /*height:80px;*/
}

.subMenu li {
    border-bottom: 1px solid #4b4a5e;
    font-family: 'Microsoft YaHei';
    height: 36px;
    font-size: 16px;
}

.subMenu li a {
    display: block;
    height: 36px;
    text-decoration: none;
    color: #d9d9d9;
    letter-spacing: 1px;
    padding: 6px 0 0 45px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.subMenu a:hover {
    color: #FFF;
    background-color: #AAAAAA;
}

.right-contain {
    position: relative;
    margin: 120px 0 0 230px; /*上右下左*/
    width: 75%;
    height: 500px;
}