*{
  margin:0;
  padding: 0;
}
body {
  margin: 0;
  background-image: none;
  position: static;
  left: auto;
  width: 100%;
  background-color: #F6F6F6;
}

#base {
  position: absolute;
  width: 100%;
  z-index: 0;
}

#header {
  width: 1000px;
  margin: 0 130px;
}

.logo {
  display: inline-block;
  float: left;
  left:150px;
  padding: 0 20px 0 20px;
}

.search {
  float: left;
  line-height: 60px;
}

.search_input {
  display: inline-block;
  height: 30px;
  width: 300px;
}

.search_button {
  background-color: #3673A0;
  border: none;
  width: 70px;
  height: 30px;
  /*top:20px;*/
  color: #fff;
}

#nav {
  clear: both;
  width: 1024px;
  list-style-type: none;
  color: #fff;
  margin: 0 150px;
}

#nav > li {
  float: left;
  background-color: #3673A0;
  line-height: 50px;
  text-align: center;
}

#nav > li a {
  display: inline-block;
  width: 108.5px;
  font-size: 16px;
}

#nav > li a:hover {
  font-size: 18px;
}

.market-center-nav ul, .big-data-nav ul, .strategy-platform-nav ul, .artificial-intelligence-nav ul, .emulation-trade-nav ul, .api-nav ul, .school-nav ul, .about-us-nav ul {
  display: none;
}

.market-center-nav:hover ul, .big-data-nav:hover ul, .strategy-platform-nav:hover ul, .artificial-intelligence-nav:hover ul, .emulation-trade-nav:hover ul, .api-nav:hover ul, .school-nav:hover ul, .about-us-nav:hover ul {
  display: block;
  z-index: 1000;
}

.nav-down {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-down li a {
  text-decoration: none;
  color:#fff;
}

#carousel {
  position: absolute;
  width: 979px;
  height: 500px;
  overflow: hidden;
  border-radius: 5px;
  top: 140px;
  left: 150px;
  z-index: -1;
}

#images img {
  float: left;
  width: 979px;
  height: 500px
}

#images {
  position: absolute;
  z-index: 9;
  width: calc(979px * 4); /*---修改图片数量的话需要修改下面的动画参数*/
}

.play {
  animation: ma 16s ease-out infinite alternate;
}

@keyframes ma {
  0%, 25% {
    margin-left: 0;
  }
  30%, 50% {
    margin-left: -979px;
  }
  55%, 75% {
    margin-left: -1958px;
  }
  80%, 100% {
    margin-left: -2937px;
  }
}

.brief-intro {
  width: 979px;
  height: 250px;
  position: absolute;
  top: 670px;
  left: 152px;
}

.brief-intro > div {
  width: 235px;
  height: 250px;
  float: left;
  margin: 0 5px;
  text-align: center;
}
.brief-intro > div:first-child{
  margin: 2px;
}
.brief-intro>div:nth-child(2){
  margin: 0 6px 0 11px;
}
.brief-intro>div:nth-child(3){
  margin:0 10px 0 7px;
}
.brief-intro>div:last-child{
  float: right;
  margin:0;
}
.intro-title{
  width: 229px;
  height:45px;
  background:#3673A0;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.intro-title span{
  color:#fff;
  font-size:18px;
  line-height:45px;
}
.intro-content{
  width:202px;
  border:1px solid #3673A0;
  height:150px;
  background-color: #F6F6F6;
  padding: 30px 10px 0 15px;
}
.about-us-footer{
  width:980px;
  padding: 15px 0;
  position: absolute;
  top:930px;
  left:150px;
  background-color: #3673A0;
  font-family: 楷书;
  font-size: 14px;
  text-align: center;
  color: #fff;
  line-height: 20px;
}